# Copiar este archivo como .env.local
# cp .env.example .env.local

NEXT_PUBLIC_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbw_Go4iLu20hhWaCqVqCewPsILwiB8qe4A5xo1K3IqCA_27_fVGWFTT03lbF2ml6UUs1g/exec
NEXT_PUBLIC_INSTAGRAM_USERNAME=esenc.ity
NEXT_PUBLIC_SITE_URL=https://esencity.com
NEXT_PUBLIC_SITE_NAME=Esencity Peluquería
